<style type="text/css">
    #Datmua a{
        clear: both; background-color:red;
        color: white; width: 120px; height: 35px;
        display:block; float:right; text-align:center;
        padding-top: 10px; text-decoration:none; font-weight: bold;
    }
    #Datmua a:hover{
        background-color: gray;
        color: red;
    }
</style>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<h2><font size="13px">THÔNG TIN CHI TIẾT SÁCH</font></h2>

<div>
    <div style="width:40%; float:left; border-left: dotted 1px; border-color:azure; padding:10px">
        <img src="~/Images/@Model.Hinhminhhoa" width="100%"/>
    </div>
    <div>
        <div style="width:60%; float:left; padding:10px">
            <h4 style="font-weight:bold; color: red; font-size:20pt">Tên sách: @Model.Tensach</h4>
            <p style="text-align:justify"><span style="font-weight:bold">Mô tả:</span> @Model.Mota</p>
            <h4 style="font-weight:bold">Giá bán: <span style="color:red; font-size:16pt">@Model.Dongia</span></h4>
        </div>
    </div>
    <div>
        <div id="Datmua">
            <a href="@Url.Action("ThemGiohang", "Giohang", new {@iMasach = @Model.Masach, @strUrl=Request.Url.ToString()})" class="list-froup-item">
                ĐẶT MUA
            </a>
        </div>
    </div>
</div>

