@using MvcBookStore.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<SACH>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h1>Huỳnh Minh Tiến - 15DH110288 - Ca2</h1>
@using (Html.BeginForm("index", "bookstore", FormMethod.Get))
{
    <div class="form-group">
        <input type="text" placeholder="Tìm kiếm sách" name="searchString" value="@ViewBag.Keyword" style="width: 250px; height: 25px">
        <button type="submit" style="width: 90px; height: 31px">Tìm kiếm</button>
    </div>
}

<div class="cleaner">&nbsp;</div>
<p><br /></p>
@{
    int dem = 0;
}
@foreach (var sach in Model)
{
    dem++;
    <div class="templatemo_product_box">
        <a href="@Url.Action("Details", "BookStore", new { id = sach.Masach })">
            <h1>@sach.Tensach</h1>
            <img src="~/Images/@sach.Hinhminhhoa" atl="@sach.Tensach" width="103" />
        </a>
                <div class="product_info">
                    <center>
                        <h3>★★★★★</h3>
                        <h4>15 Reviews</h4>
                        <div class="buy_now_button"><a href="subpage.html">Mua ngay</a></div>
                        <div class="detail_button"><a href="@Url.Action("Details", "BookStore", new { id = sach.Masach })">Chi tiết</a></div>
                    </center>
        </div>
    </div>
    <div class="cleaner_with_width">&nbsp;</div>
    if (dem % 2 == 0)
    {
        <div class="cleaner">&nbsp;</div>
        <div class="cleaner">&nbsp;</div>
    }
}

<center>
    <h3><font color="white">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount </font></h3>
    <div class="MenuTrang">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
    </div>
</center>
<style>
    .MenuTrang li{
        display:inline;
    }
</style>