<!DOCTYPE html>

<html>
<head>
    <script src="~/tinymce/js/tinymce/tinymce.min.js"></script>
    <script>tinymce.init({ selector: 'textarea' });</script>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/templatemo_style.css" rel="stylesheet" />
</head>
<body>
    <div id="templatemo_container">
        <div id="templatemo_menu">
            <ul>
                <li>@Html.ActionLink("TRANG CHỦ", "Index", "Admin")</li>
                <li>@Html.ActionLink("Quản lý chủ đề", "Sanpham", "Admin")</li>
                <li>@Html.ActionLink("Quản lý nhà xuất bản", "Nhaxuatban", "Admin")</li>
                <li>@Html.ActionLink("Quản lý sách", "Sach", "Admin")</li>
            </ul>
        </div> <!-- end of menu -->
        <div id="templatemo_content">
            @RenderBody()
        </div>
        </div>
</body>
</html>
